<div class="categories-title">
    <h2>Can’t quite figure out what you want to eat? </h2>
    <h2>Let Food World inspire you to the fullest with our recipes!</h2>
</div>
<div class="create" *ngIf="isAdmin">
    <button type="button" class="btn btn-warning" routerLink="/category/create">Add Category</button>
    <button type="button" class="btn btn-warning" routerLink="/recipe/create">Add Recipe</button>
</div>
<div class="panel-body" *ngIf="(categories | async) != null; else notCategories">
    <div class="row">
        <div class="col-lg-2" *ngFor="let category of (categories | async)">
            <app-single-category [category]="category" [isAdmin]="isAdmin" (deleteEmiter)=deleteCategory($event)>
            </app-single-category>
        </div>
    </div>
</div>
<ng-template #notCategories>
    <div class="categories-title">
        <h4>No categories yet. </h4>
    </div>
</ng-template>