<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/">
        <img src="../assets/logo.png"> Food World
    </a>
    <button appCollaps class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item">
                <a class="nav-link" routerLink="/">Home</a>
            </li>
            <li class="nav-item " *ngIf="isLoggedIn">
                <a class="nav-link" routerLink="/recipe/user">My Recipes</a>
            </li>
            <li class="nav-item" *ngIf=" isLoggedIn">
                <a class="nav-link" routerLink="/recipe/user/favorite">Favorite Recipes</a>
            </li>
            <li class="nav-item" *ngIf=" isLoggedIn">
                <a class="nav-link" routerLink="/recipe/create">Create Recipe</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <ng-template [ngIf]="!isLoggedIn">
                <li class="nav-item my-2 my-lg-0">
                    <a class="nav-link" routerLink="/user/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/user/register">Register</a>
                </li>
            </ng-template>
            <ng-template [ngIf]="isLoggedIn">
                <li class="nav-item" aria-disabled="">
                    <a class="nav-link">Welcome, {{username}}!</a>
                </li>
                <li class="nav-item" id="logout">
                    <a class="nav-link" (click)="logout()">Logout</a>
                </li>
            </ng-template>
            <!-- </div> -->

        </ul>
    </div>
</nav>
<!-- <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form> -->
<!--
<form class="form-inline mx-auto my-0 my-lg-4">
    <input class="form-control ml-sm-4" type="text" placeholder="Search">
    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
</form> -->